{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        VOTRE PROJET
    {% endspaceless %}
{% endblock %}

{% block body %}

    <br><br><br><br>
    <div class="container-fluid">
        <div class="wrapper">
            <nav class="sidebar">

            </nav>
            <nav class="content">

            </nav>
        </div>
        <div class="row">

        </div>
    </div>
        <div class="container">
            <div class="row text-center">
                <div class="title col-12 text-center">
                <h1>LES PROJETS EN COURS</h1>
                <hr>
                </div>
            </div>
            {% for projet in projetsClients %}
                <div class="row mt-5">
                    <div class="col-lg-8 col-sm-12 ">

                        <h4>Projet : {{ projet.id }}</h4>
                        <h6>Numéro de dossier :{{ projet.Dossier }}</h6>

                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <a title="Télécharger" href="{{ path('telecharger',{'idProjetClient' : projet.id }) }}" class=""><button class="btn btn-info"><ion-icon name="cloud-download" size="large" ></ion-icon></button></a>
                        <a title="Voir" href="{{ path('projetClient_show',{'id' : projet.id }) }}" class=""><button class="btn btn-dark"><ion-icon name="eye" size="large"></ion-icon></button></a>
                        <a title="Valider" href="{{ path('valider_projet',{'id' : projet.id }) }}" class=""><button class="btn btn-success"><ion-icon name="checkmark" size="large" ></ion-icon></button></a>
                        <a  title="Supprimer" href="{{ path('projet_delete',{'id' : projet.id }) }}" class=""><button  type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" ><ion-icon name="trash" size="large"></ion-icon></button></a>
                    </div>
                </div>
                <hr>
            {% endfor %}

            <div class="row text-center">
                <div class="title col-12 text-center">
                    <h1>LES PROJETS TERMINÉS</h1>
                    <hr>
                </div>
            </div>
            {% for projet in projetsClientsValide %}

                <div class="row mt-5">
                    <div class="col-lg-8 col-sm-12 ">

                        <h4>Projet : {{ projet.id }}</h4>
                        <h6>Numéro de dossier :{{ projet.Dossier }}</h6>

                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <a title="Télécharger" href="{{ path('telecharger',{'idProjetClient' : projet.id }) }}" class=""><button class="btn btn-info"><ion-icon name="cloud-download" size="large" ></ion-icon></button></a>
                        <a title="Voir" href="{{ path('projetClient_show',{'id' : projet.id }) }}" class=""><button class="btn btn-dark"><ion-icon name="eye" size="large"></ion-icon></button></a>
                        <a  title="Supprimer" href="{{ path('projet_delete',{'id' : projet.id }) }}" class=""><button  type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" ><ion-icon name="trash" size="large"></ion-icon></button></a>

                    </div>
                </div>

          {% endfor %}

        </div>


{% endblock %}
