{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        VOTRE PROJET
    {% endspaceless %}
{% endblock %}

{% block body %}

    <br><br><br><br>
    <div class="container-fluid">
        <div class="wrapper">
            <nav class="sidebar">

            </nav>
            <nav class="content">

            </nav>
        </div>
        <div class="row">

        </div>
    </div>
        <div class="container">
            <div class="row text-center">
                <div class="title col-12 text-center">
                <h1>LES PROJETS EN COURS</h1>
                <hr>
                </div>
            </div>
            {% for projet in projetsClients %}
                <div class="row mt-5">
                    <div class="col-lg-8 col-sm-12 ">

                        <h4>Projet : {{ projet.id }}</h4>
                        <h6>Numéro de dossier :{{ projet.Dossier }}</h6>

                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <a title="Télécharger" href="{{ path('telecharger',{'idProjetClient' : projet.id }) }}" class=""><button class="btn btn-info"><ion-icon name="cloud-download" size="large" ></ion-icon></button></a>
                        <a title="Voir" href="{{ path('projetClient_show',{'id' : projet.id }) }}" class=""><button class="btn btn-dark"><ion-icon name="eye" size="large"></ion-icon></button></a>
                        <a title="Valider" href="{{ path('projetClient_show',{'id' : projet.id }) }}" class=""><button class="btn btn-success"><ion-icon name="checkmark" size="large" ></ion-icon></button></a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter"><ion-icon name="trash" size="large"></ion-icon></button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Êtes-vous sur de vouloir supprimer ce projet ?</h5>
                                        <button type="button" class="close text-center m-0" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <a title="Supprimer" href="{{ path('projet_delete',{'id' : projet.id }) }}" class=""><button class="btn btn-danger">SUPPRIMER</button></a>
                                        <a title="Supprimer" href="{{ path('projetsClients') }}" class=""><button class="btn btn-success">ANNULER</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>


{% endblock %}
