{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Votre Projet
    {% endspaceless %}
{% endblock %}

{% block body %}


    <section class="title">
        <h1>Votre Projet</h1>
        <hr>
        <h2>Votre hommage video commence ici ...</h2>
{#        <a href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">INFORMATIONS</a>#}
{#        <a href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">INFORMATIONS DEFUNT</a>#}
{#        <a href="#collapseThree" role="button" aria-expanded="true" aria-controls="collapseThree">FICHIERS PHOTOS</a>#}
{#        <a href="#collapseThree" role="button" aria-expanded="true" aria-controls="collapseThree">FICHIERS VIDEOS</a>#}
{#        <a href="#collapseThree" role="button" aria-expanded="true" aria-controls="collapseThree">VALIDATION FINALE</a>#}
    </section>


    <section class="block-rouge">
        <div class="ligne">
            <p class="chiffre">1</p>
            <p class="texte">Remplissez le formulaire concernant vos informations personelles et celles du défunt.</p>
        </div>
        <div class="ligne">
            <p class="chiffre">2</p>
            <p class="texte">Selectionnez un fichier photo ou vidéo.</p>
        </div>
{#        <div class="ligne ligne-blocks">#}
{#            <div class="block-gauche"></div>#}
{#            <div class="block-droite">#}
{#                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cum dicta eius expedita harum hic impedit incidunt, iusto, odit, officia optio pariatur provident quisquam quos ullam? Cumque doloremque eligendi et?</p>#}
{#            </div>#}
{#        </div>#}
        <div class="ligne">
            <p class="chiffre">3</p>
            <p class="texte">Puis ajoutez un mot, un nom, une date, une phrase ou quelques pensées en rapport au fichier importé.</p>
        </div>
        <div class="ligne">
            <p class="chiffre">4</p>
            <p class="texte">Validez et envoyez-nous votre projet.</p>
        </div>
    </section>


{#

    <div class="accordion formulaire" id="accordionExample">

        #}
{# ------------------------ INFORMATIONS PERSONELLES ------------------#}{#

        <div class="card">
            <div class="card-header text-center" id="headingOne" >
                <h5 class="mb-0"  href="#headingOne"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" ><span style="border: 1px solid black;border-radius: 50px;width: 30px;">1</span> INFORMATIONS PERSONNELLES</h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="container">
                        {{ form_start(form) }}
                        {{ form_row(form.nomClient) }}
                        {{ form_row(form.prenomClient) }}
                        {{ form_row(form.emailClient) }}
                        {{ form_row(form.dossier) }}
                        {{ form_row(form.categorie) }}
                        <a class="btn btn-block btn-outline-warning" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo" type="butoon" >PASSER À L'ETAPE SUIVANTE</a>
                    </div>
                </div>
            </div>
        </div>

        #}
{# ------------------------ INFORMATIONS DEFUNT ------------------#}{#

        <div class="card">
            <div class="card-header text-center" id="headingTwo">
                <h5 class="mb-0"  href="#headingOne"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">INFORMATIONS DU DÉFUNT</h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="container">
                        {{ form_row(form.nomDefunt) }}
                        {{ form_row(form.prenomDefunt) }}
                        <div class="row">
                            <div class="col-6">{{ form_row(form.dateNaissanceDefunt) }}</div>
                            <div class="col-6"> {{ form_row(form.dateMortDefunt) }}</div>
                        </div>
                        {{ form_row(form.descriptionDefunt, {'attr': {'rows': '4' }}) }}

                        <a class="btn btn-block btn-outline-warning" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree" type="butoon" >PASSER À L'ETAPE SUIVANTE</a>
                    </div>

                </div>
            </div>
        </div>

        #}
{# ------------------------ FICHIERS PHOTOS ------------------#}{#


        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0 text-center" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        FICHIERS PHOTOS
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="container">


                        <a class="btn btn-block btn-outline-warning" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour" type="butoon" >PASSER À L'ETAPE SUIVANTE</a>
                    </div>
                </div>
            </div>
        </div>


        #}
{# ------------------------ FICHIERS VIDEOS ------------------#}{#

        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0 text-center"  data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        FICHIERS VIÉOS
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="container">


                        <a class="btn btn-block btn-outline-warning" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive" type="butoon" >PASSER À L'ETAPE SUIVANTE</a>
                    </div>
                </div>
            </div>
        </div>


        #}
{# ------------------------ VALIDATION ------------------#}{#

        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0 text-center" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        VALIDATION FINALE
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="container">
                        {{ form_row(form.save) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}


#}

    <div class="container mt-5 mb-5">


        <form name="regForm" method="post">
            {{ form_start(form) }}
            <!-- One "tab" for each step in the form: -->
            <div class="tab">
                <h2>Commencez par renseigner vos informations personelles : </h2>
                <div class="progress mb-5">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 20%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20%</div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                           {{ form_widget(form.nomClient) }}
                        </div>
                        <div class="col-12 mt-3">
                            {{ form_widget(form.prenomClient) }}
                        </div>
                        <div class="col-12 mt-3">
                            {{ form_widget(form.emailClient) }}
                        </div>
                        <div class="col-12 mt-3">
                            {{ form_widget(form.dossier) }}
                        </div>
                        <div class="col-12 mt-3">
                            {{ form_widget(form.categorie) }}

                        </div>
                    </div>
                </div>
            </div>

            <div class="tab">
                <h2>Puis celles du défunt  : </h2>
                <div class="progress mb-5">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 mt-3">
                            {{ form_widget(form.nomDefunt) }}
                        </div>
                        <div class="col-12 mt-3">
                            {{ form_widget(form.prenomDefunt) }}
                        </div>
                        <div class="col-6 mt-3">
                            {{ form_widget(form.dateNaissanceDefunt) }}
                        </div>
                        <div class="col-6 mt-3">
                            {{ form_widget(form.dateMortDefunt) }}
                        </div>
                        <div class="col-12 mt-3">
                            {{ form_widget(form.descriptionDefunt, {'attr': {'rows': '4' }}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab">
                <h2>Ajoutez vos images avec une courte description :</h2>
                <div class="progress mb-5">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>

            </div>

            <div class="tab">
                <h2>Ajoutez vos vidéos avec une courte description :</h2>
                <div class="progress mb-5">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>

            <div class="tab">
                <h2>Validez vos informations :</h2>
                <div class="progress mb-5">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
                    <p>Mémoriam s'engage à livrer la vidéo sous 48h après validation</p>
                {{ form_errors(form) }}
                {{ form_row(form.save) }}
            </div>

            <div style="overflow:auto;">
                <div style="float:right;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-outline-warning rouge">Retour</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-outline-success">Suivant</button>
                </div>
            </div>

            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
            {{ form_end(form) }}
        </form>


    </div>



{% endblock %}

