{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Im Memoriae - Votre Projet
    {% endspaceless %}
{% endblock %}
{% block seoDescription %}
    {% spaceless %}
        Votre film hommage commence ici
    {% endspaceless %}
{% endblock %}
{% block javascripts %}
    <script>
        $("#error").hide();
        $("#error1").hide();
        var currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the current tab
        function showTab(n) {
            // This function will display the specified tab of the form ...
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            // ... and fix the Previous/Next buttons:
            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
                $("#error").hide()
                $("#error1").hide();
            } else {
                document.getElementById("prevBtn").style.display = "inline";
                $("#error").hide()
                $("#error1").hide();
            }
            if (n === 4) {
                document.getElementById("nextBtn").style.display = "none";
            }
            if (n === 3) {
                document.getElementById("nextBtn").style.display = "inline";
                $("#error").hide()
                $("#error1").hide();
            }
            if (n === 2) {
                document.getElementById("nextBtn").style.display = "inline";
                $("#error").hide()
                $("#error1").hide();
            }
            if (n === 1) {
                document.getElementById("nextBtn").style.display = "inline";
                $("#error").hide()
                $("#error1").hide();
            }
            // ... and run a function that displays the correct step indicator:
            fixStepIndicator(n)
        }
        function nextPrev(n) {
            // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");
            // Exit the function if any field in the current tab is invalid:
            if (n == 1 && !validateForm()) return false;
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;
            // if you have reached the end of the form... :
            if (currentTab >= x.length) {
                //...the form gets submitted:
                document.getElementById("regForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        function validateForm() {

            // This function deals with validation of the form fields
            var x, y, i, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("input");
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
                // If a field is empty...
                if (y[i].value == "") {
                    // add an "invalid" class to the field:
                    y[i].className += " invalid";

                    // and set the current valid status to false
                    valid = false;


                    $("#error").show();
                    $("#error1").show();


                }

            }
            // If the valid status is true, mark the step as finished and valid:
            if (valid) {
                document.getElementsByClassName("step")[currentTab].className += " finish";
            }
            return valid; // return the valid status
        }

        function fixStepIndicator(n) {
            // This function removes the "active" class of all steps...
            var i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
            }
            //... and adds the "active" class on the current step:
            x[n].className += " active";
        }
    </script>




    <script>
        $(document).ready(function(){
            $("#display-title2").hide();
            $(".hide-title").click(function(){
                $('#display-title1').hide();
                $("#display-title2").show();
            });

        });
    </script>


    <script>
        $(document).ready(function(){
            $("#musiques_1,#musiques_2,#musiques_3,#musiques_4,#musiques_5,#musiques_6").hide();


            $("#projet_client_musiques_0").click(function(){
                $('#musiques_1,#musiques_2,#musiques_3,#musiques_4c').hide();
                $('#musiques_1,#musiques_2,#musiques_3,#musiques_4,#musiques_5,#musiques_6,#musiques_7,#musiques_8').prop('muted', true);


                $("#musiques_0").show();
                $("#musiques_0").prop('muted', false);
            });
            $("#projet_client_musiques_1").click(function(){

                $('#musiques_0,#musiques_2, #musiques_3,#musiques_4,#musiques_5,#musiques_6,#musiques_7,#musiques_8').hide();
                $('#musiques_0,#musiques_2, #musiques_3,#musiques_4,#musiques_5,#musiques_6,#musiques_7,#musiques_8').prop('muted', true);


                $("#musiques_1").show();
                $("#musiques_1").prop('muted', false);

            });
            $("#projet_client_musiques_2").click(function(){
                $('#musiques_0,#musiques_1,#musiques_3,#musiques_4,#musiques_5,#musiques_6,#musiques_7,#musiques_8').hide();
                $('#musiques_0,#musiques_1,#musiques_3,#musiques_4,#musiques_5,#musiques_6,#musiques_7,#musiques_8').prop('muted', true);



                $("#musiques_2").show();
                $("#musiques_2").prop('muted', false);

            });
            $("#projet_client_musiques_3").click(function(){
                $('#musiques_2, #musiques_0,#musiques_1,#musiques_4,#musiques_5,#musiques_6,#musiques_7,#musiques_8').hide();
                $('#musiques_2, #musiques_0,#musiques_1,#musiques_4,#musiques_5,#musiques_6,#musiques_7,#musiques_8').prop('muted', true);


                $("#musiques_3").show();
                $("#musiques_3").prop('muted', false);

            });
            $("#projet_client_musiques_4").click(function(){
                $('#musiques_2, #musiques_0,#musiques_1,#musiques_3,#musiques_5,#musiques_6,#musiques_7,#musiques_8').hide();
                $('#musiques_2, #musiques_0,#musiques_1,#musiques_3,#musiques_5,#musiques_6,#musiques_7,#musiques_8').prop('muted', true);


                $("#musiques_4").show();
                $("#musiques_4").prop('muted', false);

            });
            $("#projet_client_musiques_5").click(function(){
                $('#musiques_2, #musiques_0,#musiques_1,#musiques_4,#musiques_3,#musiques_6,#musiques_7,#musiques_8').hide();
                $('#musiques_2, #musiques_0,#musiques_1,#musiques_4,#musiques_3,#musiques_6,#musiques_7,#musiques_8').prop('muted', true);


                $("#musiques_5").show();
                $("#musiques_5").prop('muted', false);

            });
            $("#projet_client_musiques_6").click(function(){
                $('#musiques_2, #musiques_0,#musiques_1,#musiques_4,#musiques_5,#musiques_3,#musiques_7,#musiques_8').hide();
                $('#musiques_2, #musiques_0,#musiques_1,#musiques_4,#musiques_5,#musiques_3,#musiques_7,#musiques_8').prop('muted', true);


                $("#musiques_6").show();
                $("#musiques_6").prop('muted', false);

            });



        });
    </script>


{% endblock %}
{% block body %}

    {{ form_start(form) }}
    <section class="title">
        {% include 'common/flash_messages.html.twig' %}
        <h1>VOTRE PROJET BERTHELOT</h1>
        <hr>
        <h2>Votre film hommage commence ici</h2>
    </section>

    <section class="block-rouge">
        <div class="ligne">
            <p class="chiffre">1</p>
            <p class="texte">Remplissez le questionnaire d'hommage.</p>
        </div>
        <div class="ligne">
            <p class="chiffre">2</p>
            <p class="texte">Selectionnez vos fichiers photos et vidéos.</p>
        </div>
        <div class="ligne">
            <p class="chiffre">3</p>
            <p class="texte">Validez et envoyez-nous votre projet.</p>
        </div>
        <div class="ligne">
            <p class="chiffre">4</p>
            <p class="texte">Vous recevez le film hommage sous 48h.</p>
        </div>
    </section>
    <div class="container mt-5 mb-5">



        {# ------------------------ INFORMATIONS PERSONELLES ------------------#}
        <div class="tab">
            <h2>Vos informations personnelles : </h2>
            <div class="progress mb-5">
                <div class="mb-5"><br><br></div>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 20%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20%</div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6 mt-3">
                        {{ form_widget(form.prenomClient) }}
                    </div>
                    <div class="col-6 mt-3">
                        {{ form_widget(form.nomClient) }}
                    </div>
                    <div class="col-12 mt-3">
                        {{ form_widget(form.emailClient) }}
                    </div>
                </div>
            </div>
            <div class="alert alert-danger col-xs-12 hidden" id="error">Merci de remplir tous les champs affichés en rouge</div>

        </div>


        {# ------------------------  DEFUNT ------------------#}
        <div class="tab">
            <h2>Les informations du défunt :  </h2>
            <div class="progress mb-5">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
            </div>

            <div class="form-group">
                {# ------------------------ INFORMATIONS  ------------------#}
                <div class="row">
                    <div class="col-6 mt-3">
                        {{ form_widget(form.prenomDefunt) }}
                    </div>
                    <div class="col-6 mt-3">
                        {{ form_widget(form.nomDefunt) }}
                    </div>
                    <div class="col-6 mt-3">
                        {{ form_widget(form.dateNaissanceDefunt) }}
                    </div>
                    <div class="col-6 mt-3">
                        {{ form_widget(form.dateMortDefunt) }}
                    </div>
                    <div class="col-12 mt-3 genre">
                        {{ form_widget(form.gender) }}
                    </div>
                    {# ------------------------ SURNOM  ------------------#}
                    <div class="col-12 mt-3">
                        <hr>
                        <p>Comment souhaitez-vous que nous appelions votre cher (chère) disparu(e) dans le film :</p>
                        <p style="font-size: 13px"><i>Par exemple : <strong>Evelyne</strong> est née à Montluçon - <strong>Evelyne Bertrand</strong> est née à Montluçon - <strong>Mamie Lyne</strong> est née à Montluçon </i></p>
                        {{ form_widget(form.surnomDefunt) }}
                    </div>
                    {# ------------------------ QUALITES ------------------#}
                    <div class="col-12 mt-3">
                        <hr>
                        <p>3 qualités qui le (la) caractérisent  :</p>
                    </div>

                    <div class="col-4">
                        <p>{{ form_widget(form.qualite1, {'attr': {'list': 'browsers'}}) }}</p>
                        <datalist id="browsers" class="dropdown-toggle">
                            <option value="Générosité">
                            <option value="Attentif aux autres">
                            <option value="Patience">
                            <option value="Fidelité">
                            <option value="Sympathie ">
                            <option value="Humour">
                            <option value="Gentillesse">
                            <option value="Disponibilité">
                            <option value="Empathie">
                            <option value="Bon vivant">
                            <option value="Gaieté">
                        </datalist>
                    </div>
                    <div class="col-4">
                        <p>{{ form_widget(form.qualite2, {'attr': {'list': 'browsers'}}) }}</p>

                    </div>
                    <div class="col-4">
                        <p>{{ form_widget(form.qualite3, {'attr': {'list': 'browsers'}}) }}</p>
                    </div>
                    {# ------------------------ MOMENTS VIE ------------------#}
                    <div class="col-12 mt-3">
                        <hr>
                        <p>3 grands moments de sa vie  :</p>
                        <p style="font-size: 13px"><i>Par exemple : Son mariage, la naissance d'un enfant, un succès professionnel ou sportif</i></p>
                    </div>
                    <div class="col-4">
                        {{ form_widget(form.momentDefunt1) }}
                    </div>
                    <div class="col-4">
                        {{ form_widget(form.momentDefunt2) }}
                    </div>
                    <div class="col-4">
                        {{ form_widget(form.momentDefunt3) }}
                    </div>
                    {# ------------------------ PASSIONS ------------------#}
                    <div class="col-12 mt-3">
                        <hr>
                        <p>Ses passions ou hobbies :</p>
                    </div>
                    <div class="col-4">
                        {{ form_widget(form.passionDefunt1) }}
                    </div>
                    <div class="col-4">
                        {{ form_widget(form.passionDefunt2) }}
                    </div>
                    <div class="col-4">
                        {{ form_widget(form.passionDefunt3) }}
                    </div>
                    {# ------------------------ CE QU'ON RETIENDRA ------------------#}
                    <div class="col-12 mt-3">
                        <hr>
                        <p>Ce que chacun rediendra de lui (en une phrase) :</p>
                        {{ form_widget(form.descriptionDefunt, {'attr': {'rows': '2' }}) }}
                    </div>
                    {# ------------------------ MOT DE LA FIN ------------------#}
                    <div class="col-12 mt-3">
                        <hr>
                        <p>Votre Épitaphe : </p>
                        {{ form_widget(form.motFin, {'attr': {'rows': '3' }}) }}
                    </div>
                    {# ------------------------ FACULTATIFS ------------------#}
                    <div class="col-12 mt-3">
                        <hr>
                        <p><strong class="">FACULTATIF</strong> <br> Une devise, un poème, un artiste, un auteur, une association ou une chanson qui correspondait à votre disparu(e) : </p>
                        {{ form_widget(form.deviseDefunt, {'attr': {'rows': '3' }}) }}
                    </div>
                    <div class="col-12 mt-3">
                        <p> Un lieu, un paysage, un pays qui correspondait à votre disparu(e) : </p>
                        {{ form_widget(form.lieuDefunt, {'attr': {'rows': '3' }}) }}
                    </div>


                </div>
            </div>
            <div class="alert alert-danger col-xs-12 hidden" id="error1">Merci de remplir tous les champs affichés en rouge</div>

        </div>


        {% include 'projet_client/uploadFichier.html.twig' %}

        {# ------------------------ MUSIQUE / VALIDATION  ------------------#}
        <div class="tab">
                <h2>Validation</h2>
                <div class="progress mb-5">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
                <div class="col-12 mb-3">

                    {% if not form.vars.valid %}
                        <p>{{ form_errors(form) }}</p>
                    {% endif %}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form.prenomDefunt) }}
                    </div>

                    <h5>Nos films hommages sont accompagnés par : ...</h5>
                    <hr>
                    <h5>Si vous souhaitez un autre fond musical, choisissez dans cette liste :</h5><br>

                    {{ form_widget(form.musiques) }}
                    <br>

                    <div class="row">
                        <audio class="col-12" src="{{ asset('musiques/preview5.mp3') }}" id="musiques_0" controls controlsList="nodownload"  ></audio>
                        <audio class="col-12" src="{{ asset('musiques/preview2.mp3') }}" id="musiques_1" controls controlsList="nodownload" ></audio>
                        <audio class="col-12" src="{{ asset('musiques/preview3.mp3') }}" id="musiques_2" controls controlsList="nodownload" ></audio>
                        <audio class="col-12" src="{{ asset('musiques/preview4.mp3') }}" id="musiques_3" controls controlsList="nodownload" ></audio>
                        <audio class="col-12" src="{{ asset('musiques/preview5.mp3') }}" id="musiques_4" controls controlsList="nodownload"  ></audio>
                        <audio class="col-12" src="{{ asset('musiques/preview2.mp3') }}" id="musiques_5" controls controlsList="nodownload" ></audio>
                        <audio class="col-12" src="{{ asset('musiques/preview3.mp3') }}" id="musiques_6" controls controlsList="nodownload" ></audio>

                    </div>

                    <input type="checkbox" name="checkbox" value="check" id="agree" class="mt-5" required/> J'ai lu et j'accepte les <a href="{{ path('cgv') }}">Conditions générales de vente</a>

                </div>
            {#   <div class="col-12">
                 <hr>
               <p>Si vous souhaitez un autre fond musical, il est possible de payer les droits à la SACEM directement via ce formulaire : </p>

            </div>#}


                <div class="col-12 mt-lg-2"> {{ form_row(form.save) }}</div>

        </div>
        {# ------------------------ RECAPITULATIF ------------------#}

        <div style="overflow:auto;">
            <div style="float:right;" class="mt-lg-5">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-outline-dark ">Retour</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-outline-success ml-3">Suivant</button>
            </div>
        </div>
        <div class="text-center mt-5">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}

