<footer>
    <div class="container">
        <br>
        <div class="row">

            <div class="col-4 list">
                <ul>
                    <li><a href="{{ path('home') }}">MÉORIAM</a></li>
                    <li><a href="{{ path('home') }}#fonctionnement">FONCTIONNEMENT</a></li>
                    <li><a href="{{ path('home') }}#service">NOTRE SERVICE</a></li>
                    <li><a href="{{ path('contact') }}">CONTACTS</a></li>
                </ul>
            </div>
            <div class="col-4 list">
                <ul>
                    <li><a href="#">AGENCE BERTHELOT</a></li>
                    <li><a href="#">FACEBOOK</a></li>

                </ul>
            </div>
            <div class="col-4 list">
                <ul>
                    <li><a href="{{ path('home') }}">MÉORIAM</a></li>
                    <li><a href="{{ path('contact') }}">010203040506</a></li>
                    <li><a href="{{ path('contact') }}">emoriam@mail.fr</a></li>
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-12">
                <hr>
                <ul class="list-footer">
                    <li><a href="#">MAXIME MERLE © 2019 / </a></li>
                    <li><a href="{{ path('mentions-legales') }}">MENTIONS LÉGALES / </a></li>
                    <li><a href="{{ path('cgv') }}"> CGV</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>