

{% if is_mobile() == true and is_tablet() == false  %}

    <div class="container-fluid fixed-top navbar-mobile">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logo-vert" href="{{ path('home') }}">IN MEMORIAE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color: white">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav ml-auto text-center">
                    <li><a href="{{ path('qui-sommes-nous') }}" class="dropdown-item">QUI SOMMES-NOUS ?</a></li>
                    <li><a class="dropdown-item" href="{{ path('home') }}#service"> NOS SERVICE </a></li>
                    <li><a class="dropdown-item" href="{{ path('contact') }}"> CONTACTS </a></li>
                    <li><a class="dropdown-item" href="{{ path('nouveau_projet') }}">VOTRE PROJET </a></li>
                    <li><a class="dropdown-item" href="{{ path('projetsClients') }}"><ion-icon name="lock" size="large"></ion-icon></a></li>



                </ul>
            </div>
        </nav>
    </div>

{% elseif is_full_view() == true and is_tablet() == false %}
    <header class="header-home changeColor">
        <div class="header-ctn ">
            <a href= "{{ path('home') }}" class="logo-vert logo-blanc"> IN MEMORIAE</a>
            <ul class="links ml-5">
                <li><a href="{{ path('qui-sommes-nous') }}">QUI SOMMES-NOUS ?</a></li>
                <li><a href="{{ path('home') }}#service">NOS SERVICES</a></li>
                <li><a href="{{ path('contact') }}">CONTACTS</a></li>
            </ul>
            <ul class="projet">
                <li style="margin-top: 5px"><a href="{{ path('nouveau_projet') }}" class="projet-links">VOTRE PROJET</a></li>
                {#<li><a href=""><ion-icon name="contact" size="large"></ion-icon></a></li>#}
                <li><a href="{{ path('projetsClients') }}"><ion-icon name="lock" size="large"></ion-icon></a></li>
            </ul>
        </div>
    </header>

{% endif %}


{% if is_tablet()%}

    <div class="container-fluid fixed-top navbar-tablet">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand " href="{{ path('home') }}">IN MEMORIAE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color: white">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav ml-auto text-center">
                    <li><a href="{{ path('qui-sommes-nous') }}" class="dropdown-item">QUI SOMMES-NOUS ?</a></li>
                    <li><a class="dropdown-item" href="{{ path('home') }}#service"> NOS SERVICES </a></li>
                    <li><a class="dropdown-item" href="{{ path('contact') }}"> CONTACTS </a></li>
                    <li><a class="dropdown-item projet" href="{{ path('nouveau_projet') }}">VOTRE PROJET </a></li>
                    <li><a class="dropdown-item" href="{{ path('projetsClients') }}"><ion-icon name="lock" size="large"></ion-icon></a></li>



                </ul>
            </div>
        </nav>
    </div>
{% endif %}