<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% spaceless %}{% block seoTitle %}{% endblock %}{% endspaceless %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="{% spaceless %}{% block seoDescription %}{% endblock %}{% endspaceless %}">
        {#-------------      FONTS      --------------#}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">

        {#-------------      CSS      --------------#}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            {% if is_mobile() == true  and is_tablet() == false %} <link rel="stylesheet" href="{{ asset('build/mobile.css') }}">{% endif %}
            {% if is_tablet() %} <link rel="stylesheet" href="{{ asset('build/tablet.css') }}"> {% endif %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>

    {% include 'common/header.html.twig' %}
        {% block body %}

        {% endblock %}
    {% include 'common/footer.html.twig' %}

    {#-------------      JS      --------------#}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
            <script src="{{ asset('build/dropzone.js') }}"></script>
            <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script>
                var currentTab = 0; // Current tab is set to be the first tab (0)
                showTab(currentTab); // Display the current tab

                function showTab(n) {
                    // This function will display the specified tab of the form ...
                    var x = document.getElementsByClassName("tab");
                    x[n].style.display = "block";
                    // ... and fix the Previous/Next buttons:
                    if (n == 0) {
                        document.getElementById("prevBtn").style.display = "none";
                    } else {
                        document.getElementById("prevBtn").style.display = "inline";
                    }
                    if (n == (x.length - 1)) {
                    } else {
                        document.getElementById("nextBtn").innerHTML = "Suivant";
                    }
                    if (n == 5) {
                        document.getElementById("nextBtn").style.display = "none";
                    }
                    // ... and run a function that displays the correct step indicator:
                    fixStepIndicator(n)
                }

                function nextPrev(n) {
                    // This function will figure out which tab to display
                    var x = document.getElementsByClassName("tab");
                    // Exit the function if any field in the current tab is invalid:
                    if (n == 1 && !validateForm()) return false;
                    // Hide the current tab:
                    x[currentTab].style.display = "none";
                    // Increase or decrease the current tab by 1:
                    currentTab = currentTab + n;
                    // if you have reached the end of the form... :
                    if (currentTab >= x.length) {
                        //...the form gets submitted:
                        document.getElementById("regForm").submit();
                        return false;
                    }
                    // Otherwise, display the correct tab:
                    showTab(currentTab);
                }

                function validateForm() {
                    // This function deals with validation of the form fields
                    var x, y, i, valid = true;
                    x = document.getElementsByClassName("tab");
                    y = x[currentTab].getElementsByTagName("");
                    // A loop that checks every input field in the current tab:
                    for (i = 0; i < y.length; i++) {
                        // If a field is empty...
                        if (y[i].value == "") {
                            // add an "invalid" class to the field:
                            y[i].className += " invalid";
                            // and set the current valid status to false:
                            valid = false;
                        }
                    }
                    // If the valid status is true, mark the step as finished and valid:
                    if (valid) {
                        document.getElementsByClassName("step")[currentTab].className += " finish";
                    }
                    return valid; // return the valid status
                }

                function fixStepIndicator(n) {
                    // This function removes the "active" class of all steps...
                    var i, x = document.getElementsByClassName("step");
                    for (i = 0; i < x.length; i++) {
                        x[i].className = x[i].className.replace(" active", "");
                    }
                    //... and adds the "active" class to the current step:
                    x[n].className += " active";
                }
            </script>
            <script>
                (function(window) {
                    function triggerCallback(e, callback) {
                        if(!callback || typeof callback !== 'function') {
                            return;
                        }
                        var files;
                        if(e.dataTransfer) {
                            files = e.dataTransfer.files;
                        } else if(e.target) {
                            files = e.target.files;
                        }
                        callback.call(null, files);
                    }
                    function makeDroppable(ele, callback) {
                        var input = document.createElement('input');
                        input.setAttribute('type', 'file');
                        input.setAttribute('multiple', true);
                        input.style.display = 'none';
                        input.addEventListener('change', function(e) {
                            triggerCallback(e, callback);
                        });
                        ele.appendChild(input);

                        ele.addEventListener('dragover', function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                            ele.classList.add('dragover');
                        });

                        ele.addEventListener('dragleave', function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                            ele.classList.remove('dragover');
                        });

                        ele.addEventListener('drop', function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                            ele.classList.remove('dragover');
                            triggerCallback(e, callback);
                        });

                        ele.addEventListener('click', function() {
                            input.value = null;
                            input.click();
                        });
                    }
                    window.makeDroppable = makeDroppable;
                })(this);
                (function(window) {
                    makeDroppable(window.document.querySelector('.demo-droppable'), function(files) {
                        console.log(files);
                        var output = document.querySelector('.output');
                        output.innerHTML = '';
                        for(var i=0; i<files.length; i++) {
                            if(files[i].type.indexOf('image/') === 0) {
                                output.innerHTML += '<img width="50" src="' + URL.createObjectURL(files[i]) + '" />';
                            }
                            output.innerHTML += '<p>'+files[i].name+'</p>';
                        }
                    });
                })(this);
            </script>

        {% endblock %}
    </body>
</html>
