{% extends 'base.html.twig' %}
{% block seoTitle %}{% spaceless %}In Memoriae{% endspaceless %}{% endblock %}

{% block javascripts %}{{ parent() }}{{ encore_entry_script_tags('navbar') }}
{% endblock %}
{% block body %}

    {# ------------------------ HEADER ------------------#}
    <div class="header header-video mb-5">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{ asset('images/video-bg-memoriam.mp4') }}" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="{% if is_mobile() == true  and is_tablet() == false %} {% elseif is_tablet() %}{% else %}line-1 anim-typewriter{% endif %}">In Memoriae</h1>
                </div>
            </div>
        </div>
    </div>

    {# ------------------------ NOTRE PROPOSITION / NOTRE ENGAGEMENT ------------------#}
    <div class="container-fluid mt-lg-5 p-sm-2  p-lg-5 " id="about">
        <div class="row mt-5 mb-5">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <div class="proposition mb-3">
                    <h2>NOTRE PROPOSITION</h2>
                    <hr>
                    <p> À partir de vos photos / vidéos souvenirs et, si vous le souhaitez, vos témoignages videos, nous réalisons un <strong>film hommage de qualité professionnelle </strong> pour votre défunt.</p>
                </div>
                <div class="engagement mt-5 text-center">
                    <h2>NOTRE ENGAGEMENT </h2>
                    <hr>
                    <p>Votre film hommage disponible en <strong>48h maximum</strong>, pour la cérémonie, les proches, tous ceux qui n'ont pas pu se déplacer, les sites mémoriels ou les réseaux sociaux.</p>
                </div>
            </div>
        </div>
    </div>

    {# ------------------------ PRESENTATION ------------------#}
    <section class="presentation">
        <div class="block1 arrow_box">
            <div class="row">
                <div class="col-12">
                    <h1>ÉTAPE 1</h1>
                    <hr>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="item">
                        <ion-icon name="images"></ion-icon>
                        <h2>PHOTOS</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="item">
                        <ion-icon name="film"></ion-icon>
                        <h2>VIDÉOS</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="item">
                        <ion-icon name="videocam"></ion-icon>
                        <h2>TÉMOIGNAGES</h2>
                    </div>
                </div>
            </div>
            <p>Selectionnez les fichiers photos et vidéos que vous souhaitez utiliser.</p>
        </div>
        <div class="block2 arrow_box-2">
            <br>
            <div class="row">
                <div class="col-12">
                    <h1>ÉTAPE 2</h1>
                    <hr>
                </div>
                <div class="col-12 text-center">
                    <div class="item">
                        <ion-icon name="cog"></ion-icon>
                        <h2>IN MEMORIAE</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <br>
                <p class="col-12 text-center ">Nous réalisons, avec des <strong>moyens professionnels,</strong> le film hommage au défunt.</p>
            </div>
        </div>
        <div class="block3">
            <br>
            <div class="row">
                <div class="col-12 text-center">
                    <h1>ÉTAPE 3</h1>
                    <hr>
                </div>
                <div class="col-12 text-center">
                    <div class="item-">
                        <ion-icon name="desktop"></ion-icon>
                        <h2>FILM HOMMAGE À VOTRE DISPOSITION</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <br>
                <p class="col-12 text-center ">Vous recevez votre film hommage <strong>sous 48h maximum</strong> par courriel.</p>
            </div>
        </div>
    </section>

    {# ------------------------ NOS SERVICES ------------------#}
    <section class="service" id="service">
        <h2 class="">2 POSSIBILITÉS</h2>
        {# ------------------------ MOBILE ------------------#}
        {% if is_mobile() == true  and is_tablet() == false %}
            <div class="video-service">
                <video class="embed-responsive embed-responsive-16by9" controls>
                    <source class="embed-responsive-item controls"  width="560" height="315" src="{{ asset('images/NECRO_MANU_V4.mp4') }}">
                </video>
                <br>
            </div>
            <div class="services">
                <h5>VOTRE FILM HOMMAGE</h5>
                <h5>20 photos / 4 vidéos </h5>
                <p>Un film hommage d'environ 4min </p>
                <p><strong> 480€ TTC</strong></p>
                <a class="btn btn-outline-dark text-center" href="{{ path('nouveau_projet') }}">COMMENCER</a>
                <hr>
                <h5>VOTRE FILM HOMMAGE GRAND FORMAT</h5>
                <h5> 30 photos / 5 vidéos</h5>
                <p>Un film hommage entre 5 et 6 minutes </p>
                <p><strong>590€ TTC</strong></p>
                <a class="btn btn-outline-dark text-center" href="{{ path('nouveau_projet') }}">COMMENCER</a>
                <hr>
                <p class="mt-5 text-center" style=""><i>Si vous préférez la réalisation d'un film hommage entièrement personnalisé, sans limitation de contenu ou de durée et avec l'envoi d'une équipe professionnelle pour recueillir vos témoignages, filmer la cérémonie etc.  </i><br>
                    <a href="{{ path('contact') }}"> Contactez-nous</a> pour plus d'informations.
                </p>
            </div>
            {# ------------------------ TABLET ------------------#}
        {% elseif is_tablet() %}
            <div class="video-service">
                <video class="embed-responsive embed-responsive-16by9" controls>
                    <source class="embed-responsive-item controls"  width="560" height="315" src="{{ asset('images/NECRO_MANU_V4.mp4') }}">
                </video>
                <br>
            </div>
            <div class="services text-center">
                <h5>VOTRE FILM HOMMAGE</h5>
                <h5 class="">20 photos et 4 vidéos </h5>
                <p>Un film hommage d'environ 4min </p>
                <p><strong>480€</strong></p>
                <a class="btn btn-outline-dark text-center" href="{#{{ path('nouveau_projet') }}#}">COMMENCER</a>
                <hr>
                <h5>VOTRE FILM HOMMAGE GRAND FORMAT</h5>
                <h5> 30 photos / 5 vidéos</h5>
                <p>Un film hommage entre 5 et 6 minutes</p>
                <p><strong>590€ TTC</strong></p>
                <a class="btn btn-outline-dark text-center" href="{{ path('nouveau_projet') }}">COMMENCER</a>
                <hr>
                <p class="mt-5 text-center" style=""><i>Si vous préférez la réalisation d'un film hommage entièrement personnalisé, sans limitation de contenu ou de durée et avec l'envoi d'une équipe professionnelle pour recueillir vos témoignages, filmer la cérémonie etc.  </i><br>
                    <a href="{{ path('contact') }}"> Contactez-nous</a> pour plus d'informations.
                </p>
            </div>

            {# ------------------------ DESKTOP ------------------#}
        {% else %}
            <div class="flex-services">
                <div class="dropdown-services">
                    <div id="accordion">
                        <div class="card border-secondary">
                            <div class="card-header" id="headingOne">
                                <button class="btn btn-service collapse" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5 class="mb-0  btn-title">VOTRE FILM HOMMAGE</h5>
                                    <ion-icon name="arrow-dropdown"></ion-icon>
                                </button>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <h5 class="text-center"><strong>20 photos et 4 vidéos</strong></h5>
                                    <p class="text-center">Un film hommage d'environ 4 minutes </p>
                                    <h6><strong>480€ TTC</strong></h6>
                                    <div class="col-12 text-center mt-2 mb-2">
                                        <a class="btn btn-outline-dark text-center" href="{#{{ path('nouveau_projet') }}#}">COMMENCER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-secondary">
                            <div class="card-header" id="headingTwo">
                                <button class="btn btn-service" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5 class="mb-0  btn-title">VOTRE FILM HOMMAGE GRAND FORMAT</h5>
                                    <ion-icon name="arrow-dropdown"></ion-icon>
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <h5 class="text-center"><strong>30 photos et 5 vidéos</strong></h5>
                                    <p class="text-center">Un film hommage entre 5 et 6 minutes </p>
                                    <p><strong> 590€ TTC</strong></p>
                                    <div class="col-12 text-center mt-2 mb-2">
                                        <a class="btn btn-outline-dark text-center" href="{#{{ path('nouveau_projet') }}#}">COMMENCER</a>
                                    </div>
                                    <hr class="mt-2">
                                    <p class="mt-5 text-center" style=""><i>Si vous préférez la réalisation d'un film hommage entièrement personnalisé, sans limitation de contenu ou de durée et avec l'envoi d'une équipe professionnelle pour recueillir vos témoignages, filmer la cérémonie etc.  </i><br>
                                        <a href="{{ path('contact') }}"> Contactez-nous</a> pour plus d'informations.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="video-service ml-1">
                    <video class="embed-responsive embed-responsive-16by9" controls>
                        <source class="embed-responsive-item controls"  width="560" height="315" src="{{ asset('images/NECRO_MR_BILLON.mp4') }}">
                    </video>
                </div>
            </div>

        {% endif %}
    </section>



    {# ------------------------ AVIS ------------------#}

    <section class="{% if is_mobile() == true  and is_tablet() == false %} avis-mobile p-4 {% elseif is_tablet() %} avis {% else %} avis{% endif %} mt-5 mb-5" >
        <h2>LES FAMILLES EN PARLENT</h2>
        <div class="row blocks-avis">
            <div class=" block-avis">
                <p>Ça nous a fait pleurer ! De joie bien sur ! C'est tellement beau et émouvant ! Difficile à décrire ! Magnifique ! Merci Merci Merci !!! Je n'en reviens pas ! C'est irréel ! </p>
                <h4 class="nom">Séverine Billon</h4>
                <h6>21/06/2019</h6>
            </div>
            <div class=" block-avis">
                <p>Avec mes sœurs nous avons revu toutes les photos de Papa… Nous les avons commentées, choisies… Les anecdotes, les souvenirs sont revenus. Ça a été un grand moment de communion. Et quelle émotion maintenant de revoir le film...</p>
                <h4 class="nom">Alain P.</h4>
                <h6>24/04/2019</h6>
            </div>
            <div class=" block-avis">
                <p>Mes enfants ont insisté pour faire le film hommage. C’est eux qui ont filmé mon témoignage avec un smartphone. Comme ils ont eu raison. On le regarde souvent ensemble...</p>
                <h4 class="nom">Hélène C</h4>
                <h6>02/05/2019</h6>
            </div>
        </div>
    </section>
{% endblock %}


